<div class="card">
  <div class="card-content">
    <a class="card-title" href="/book/{{book._id}}">
      {{ book.title }}<br>
      {{ book.description }}<br>
      {{ currentUser._id }}<br>
      {{ book.users}}
    </a>
  </div>
  <div class="card-action">
    <a href="" class="">{{ book.author}}</a>
    {{#each book.notes}}
    <span class="tweet_comments">{{ book.notes.content }} </span>
    {{/each}}
  </div>
  {{#if currentUser}}
  {{!-- {{#if book.users includes currentUser}} --}}
  {{!-- <h1>DELETE</h1> --}}
  {{!-- {{#else}} --}}
  <div class="card-action">
    <form method="POST" action="/user/{{currentUser._id}}?_method=PUT" class="row">
      <input type="hidden" name="bookId" value="{{book._id}}">
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Save to My Books">
      </p>
    </form>
  </div>
  {{!-- {{/if}} --}}
  {{/if}}
  </div>
