{{#each user.books}}
    <div class="row">
    <div class="col l12 m6">
      <div class="card brown lighten-3">
        <div class="card-content brown-text">
          <a href="/book/{{_id}}"><span class="card-title brown-text">{{ title }}<br>
          by {{ author }}</span></a>
          <p>{{ description }}</p>
        </div>
        <div class="card-action">
        <a href="{{ book.amazon_product_url }}">Buy it</a> 
        </div>
      </div>
    </div>
  </div>
{{/each}}