{{#if books}}
  <ul class="tweets">
    {{#each books}}
<div class="card">
  <div class="card-content">
    <a class="card-title" href="/book/{{id}}">
      {{ title }}<br>
      {{!-- {{ description }} --}}
    </a>
  </div>
  <div class="card-action">
    <a href="/book/{{ author.id }}" class="">{{ author.name }}</a>
    {{!-- <span class="tweet__date">{{ createdAt }}</span> --}}
    {{!-- <span class="tweet_comments">{{ comments.length }} Comments</span> --}}
  </div>
  <div class="card-action">
    <label>
        <input id="indeterminate-checkbox" type="checkbox" />
        <span>My Books</span>
      </label>
  </div>
  </div>
    {{/each}}
  </ul>
{{/if}}
