<p class="card">
  <div class="card">
  <div class="card-content">
    <a class="card-title" href="/book/{{book._id}}">
      <p>{{ book.title }} by {{ book.author}}</p><br>
      {{ book.description }}<br>
    </a>
  </div>
   <div class="card-action">
      <a href="{{ book.amazon_product_url }}" class="">Buy it</a>
  </div> 
  {{#if book.notes}}
  {{#each book.notes}}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
          {{ content }}
        </span>
      </div>
        <a href="/user/{{ author._id }}" class="">{{ author.local.email }}</a>
        {{!-- <span class="note__date">{{ createdAt }}</span> --}}
      <form method="POST" action="/user/notes/{{_id}}?_method=DELETE" class="row">
        <input type="hidden" name="noteId" value="{{_id}}">
        <p class="input-field inline col s2">
          <input class="btn" type="submit" value="Delete note">
        </p>
      </form>
    </div>
  {{/each}}
{{/if}}
  {{#if currentUser}}
  {{#if check}}
  {{else}}
    <div class="card-action">
      <form method="POST" action="/user/{{currentUser._id}}?_method=PUT" class="row">
        <input type="hidden" name="bookId" value="{{book._id}}">
        <p class="input-field inline col s2">
          <input class="btn" type="submit" value="Save to My Books">
        </p>
      </form>
    </div>
    {{/if}}
  {{/if}}
  </div>
</p>

{{#if currentUser}}
<div class="card">
  <div class="card-content">
    <h4 class="card-title">Add a note:</h6>
    <form method="POST" action="/book/{{book._id}}?_method=POST" class="row">
      <p class="input-field inline col s10">
        <label for="content"></label>
        <input type="text" name="content" id="">
      </p>
      <p class="input-field inline col s2">
        <input class="btn" type="submit" value="Submit">
      </p>
    </form>
  </div>
</div>
{{/if }}

